<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>2336221682-9ioek57cl970betgn1iuedmenj0nm96a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.2336221682-9ioek57cl970betgn1iuedmenj0nm96a</string>
	<key>API_KEY</key>
	<string>AIzaSyAdEFResyu3imXeTCwUGMuBzolMd0YZ-fc</string>
	<key>GCM_SENDER_ID</key>
	<string>2336221682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sahil.loginScreen</string>
	<key>PROJECT_ID</key>
	<string>login-screen-130f8</string>
	<key>STORAGE_BUCKET</key>
	<string>login-screen-130f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2336221682:ios:250dcfa1a26b5b15f5e36b</string>
</dict>
</plist>